<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Hex Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Views
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="#" class="dropdown-item" target="_blank">Tutorial</a>
                <a href="https://github.com/wifiphisher/wifiphisher" class="dropdown-item" target="_blank">Wifiphisher</a>
                <a href="https://www.aircrack-ng.org/" class="dropdown-item" target="_blank">Aircrack-ng</a>
                <a href="https://osintframework.com/" class="dropdown-item" target="_blank">OSINT</a>
                <a href="https://www.offensiveosint.io/" class="dropdown-item" target="_blank">Offensive OSINT</a>
            </div>
            </li>
        </ul>
    </div>
</nav>